= render "side-contents"

.main-contents
  .header
    .header__left-box
      .header__left-box__title
        = @group.name
      .header__left-box__member
        Members : 
        - @group.users.each do |members|
          = members.name
    .header__edit
      =link_to "/groups/1/edit", class: ".header__edit__btn" do
        Edit
  .chat
    .messages
      = render @messages

.form
  = form_for [@group, @message] do |f|
    = f.text_field :body, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'